<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login to Airlines Ticketing System</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="jumbotron">
    <h1 class="display-3">Flight Booking</h1>
</div>
<div class="container">
    <div class="row">
        <h2>Review your details and continue to payment</h2>
        <div class="col-md-6">

            <h3>Flight Information</h3>
            <strong>Flight name </strong>: <p th:text="${flightData.name}"></p>
            <strong>From City </strong>: <p th:text="${flightData.fromCity}"></p>
            <strong>To City </strong>: <p th:text="${flightData.toCity}"></p>
            <strong>Date </strong>: <p th:text="${flightData.date}"></p>
            <strong>Departure </strong>: <p th:text="${flightData.departure}"></p>
            <strong>Arrival </strong>: <p th:text="${flightData.arrival}"></p>

            <h3>Contact Details</h3>
            <strong>Name </strong>: <p th:text="${name}"/>
            <strong>Email </strong>: <p th:text="${email}"/>

            <h3>Passenger Details</h3>
            <strong>Passenger Name </strong>: <p th:text="${passengerData.name}"></p>
            <strong>Date of Birth </strong>: <p th:text="${passengerData.dob}"></p>
            <strong>Meal </strong>: <p th:text="${passengerData.meal}"></p>
            <strong>Luggage </strong>: <p th:text="${passengerData.luggage}"></p>
            <strong>Seat </strong>: <p th:text="${seat}"></p>
            <hr />
            <strong>Total Price</strong>
            <p th:text="${price}"></p>
            <br />

            Please verify the information before continuing to payment.

            <br />

            <a href="/payment/" class="btn btn-success">Continue to payment</a>
        </div>
    </div>
</div>
</body>
</html>