<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login to Airlines Ticketing System</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="jumbotron">
    <h1 class="display-3">Flight Booking</h1>
</div>
<div class="container">
    <div class="row">
        <h2>Step 2 : Fill in passenger details</h2>
        <div class="col-md-6">
            <form action="3" method="post" th:action="@{/purchase-ticket/3}" th:object="${passengerData}">
                Passenger Name
                <input name="name" class="form-control" th:field="*{name}" placeholder="Passenger Name"/>
                <br />
                Date of Birth
                <input name="dob" class="form-control" type="date" th:field="*{dob}" placeholder="DD/MM/YYYY"/>

                <h4>Class</h4>
                <div th:each="fClass : ${T(com.airlines.ticketing.data.passenger.FClass).values()}">
                    <label th:for="${{fClass}}" class="radio-inline">
                        <input type="radio" th:id="${{fClass}}" th:value="${{fClass}}" th:field="*{fClass}" />
                        <p th:text="${fClass}" />
                    </label>
                </div>

                <h4>Luggage</h4>
                <div th:each="luggageType : ${T(com.airlines.ticketing.data.passenger.Luggage).values()}">
                    <label th:for="${{luggageType}}" class="radio-inline">
                        <input type="radio" th:id="${{luggageType}}" th:value="${{luggageType}}" th:field="*{luggage}" />
                        <p th:text="${luggageType}" />
                    </label>
                </div>

                <h4>Meal</h4>
                <div th:each="mealType : ${T(com.airlines.ticketing.data.passenger.Meal).values()}">
                    <label th:for="${{mealType}}" class="radio-inline">
                        <input type="radio" th:id="${{mealType}}" th:value="${{mealType}}" th:field="*{meal}" />
                        <p th:text="${mealType}" />
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>