<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login to Airlines Ticketing System</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="jumbotron">
    <h1 class="display-3">Your search results</h1>
</div>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: menubar"></th:block> /*/-->
    <div class="row">
        <h3><span th:text="${search.fromCity}" />  -> <span th:text="${search.toCity}" /></h3>
        <br />
        Date : <span th:text="${search.date}" />
        <br />
        Number of Passengers : <span th:text="${search.numPassengers}" />
        <hr />
        <h3>2 Flights found</h3>
        <div class="result">
            <h4>Flight number : AG420-SX</h4>
            Departure : 10:20 AM <br />
            Arrival : 11:40 AM <br />
            <a th:href="${search.getPurchaseLinks()[0]}">Purchase Tickets</a>

        </div>
        <div class="result">
            <h4>Flight number : GG320-YA</h4>
            Departure : 13:45 AM <br />
            Arrival : 15:00 AM <br />
            <a th:href="${search.getPurchaseLinks()[1]}">Purchase Tickets</a>

        </div>
    </div>
</div>
</body>
</html>