<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login to Airlines Ticketing System</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="jumbotron">
    <h1 class="display-3">Your Bookings</h1>
</div>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: menubar"></th:block> /*/-->
    <div class="row">
        <div class="alert alert-info" th:if="${message}" th:text="${message}"></div>
        <h2>These are the list of your bookings.</h2>

        <table class="table table-stripped">
            <tr>
                <th>Booking ID</th>
                <th>Passenger Details</th>
                <th>Flight Details</th>
                <th>Actions</th>
            </tr>

            <tr th:each="bookingData : ${bookingDataList}">
                <td th:text="${bookingData.bookingId}"></td>
                <td>
                    Name : <span th:text="${bookingData.passengerData.name}"/><br/>
                    DOB : <span th:text="${bookingData.passengerData.dob}"/><br/>
                    Class: <span th:text="${bookingData.passengerData.fClass}"/><br/>
                    Luggage : <span th:text="${bookingData.passengerData.luggage}"/><br/>
                    Meal : <span th:text="${bookingData.passengerData.meal}"/><br/>

                </td>
                <td>
                    <big><span th:text="${bookingData.flightData.fromCity}"/> - <span th:text="${bookingData.flightData.toCity}"/></big><br/>
                    <span th:text="${bookingData.flightData.date}"/><br/>
                    <span th:text="${bookingData.flightData.departure}"/><br/>
                    <span th:text="${bookingData.flightData.arrival}"/><br/>
                </td>
                <td>
                    <a href="#">Print Tickets</a> <br />
                    <a th:href="@{/user-profile/update/{id}(id=${bookingData.bookingId})}">Update</a> /
                    <a th:href="@{/user-profile/delete/{id}(id=${bookingData.bookingId})}">Delete</a> /
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>